<link rel="stylesheet" href="https://website.peters-erp.com/wp-content/themes/induxo/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://website.peters-erp.com/wp-content/themes/induxo/assets/css/master.css" />
<link rel="stylesheet" href="https://website.peters-erp.com/wp-content/themes/induxo/assets/css/icon-font.css" />

<style>
  .header { background:#fff; position:sticky; top:0; z-index:999; }
  .header-wrapper { width:100%; }
  .container { max-width:1280px; margin:0 auto; }
  .navbar { height:90px; padding:0; }
  .header ul.navbar-nav > li > a,
  .navbar-nav .nav-link { color:#1a1c1e !important; }
  .header ul.navbar-nav > li > a:hover,
  .header ul.navbar-nav > li > a.active,
  .header ul.navbar-nav > li > a:focus { color:#0071bc !important; }
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link.active { color:#0071bc !important; }
  .header ul.navbar-nav > li:hover > a:before,
  .header ul.navbar-nav > li.active > a:before { border-color:#0071bc !important; }
  @media (max-width:991px) { .navbar { height:70px; } }
</style>

<header class="header header-standard navbar-sticky">
  <div class="header-wrapper">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">

        <a class="logo" href="https://website.peters-erp.com/">
          <img class="img-fluid" src="/peters-logo.png" alt="Spenglerei-Peters" />
        </a>

        <button class="navbar-toggler" type="button" id="nav-toggle" aria-label="Menü">
          <span class="navbar-toggler-icon"><i class="icon icon-menu"></i></span>
        </button>

        <div id="primary-nav" class="collapse navbar-collapse">
          <ul id="main-menu" class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="https://website.peters-erp.com/">Startseite</a></li>
            <li class="nav-item"><a class="nav-link" href="https://website.peters-erp.com/leistungen/">Leistungen</a></li>
            <li class="nav-item"><a class="nav-link" href="https://website.peters-erp.com/projekte/">Projekte</a></li>
            <li class="nav-item"><a class="nav-link" href="https://website.peters-erp.com/ueber-uns/">Über Uns</a></li>
            <li class="nav-item"><a class="nav-link" href="https://karriere.peters-erp.com/">Jobs</a></li>
            <li class="nav-item"><a class="nav-link" href="https://website.peters-erp.com/kontakt/">Kontakt</a></li>
          </ul>
        </div>

        <div class="nav-search-area">
          <div class="search-block" style="display:none">
            <form method="get" action="https://website.peters-erp.com/" class="induxo-serach xs-search-group">
              <div class="input-group">
                <input type="search" class="form-control" name="s" placeholder="Search" />
                <button class="input-group-btn search-button"><i class="icon icon-search1"></i></button>
              </div>
            </form>
          </div>
        </div>

      </nav>
    </div>
  </div>
</header>

<script src="https://website.peters-erp.com/wp-content/themes/induxo/assets/js/bootstrap.min.js"></script>
<script>
  // Fallback toggle if Bootstrap JS doesn't load
  (function(){
    var btn = document.getElementById('nav-toggle');
    var nav = document.getElementById('primary-nav');
    if (btn && nav) {
      btn.addEventListener('click', function() {
        nav.classList.toggle('show');
      });
    }
  })();
</script>
